@model List<FormularioNOW.Models.NOW>
@{
    ViewBag.Title = "Index";
}

<h2>Qualidade</h2>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td><div style="font-size:30px">@Html.ActionLink(" ", "QualidadeNOW", new { Id_Now = @item.ID_now }, new { @class = "fa fa-pencil-square fa-2", Style = "text-decoration: none;" })</div></td>
        </tr>
    }
</table>
