@model FormularioNOW.Models.NOW
@{
    ViewBag.Title = "GerarNOW";
}

<h2>GerarNOW</h2>

@using (@Html.BeginForm())
{
    <div class="container">
        <h2>Informações Basicas</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    @Html.TextBoxFor(a => a.Nome, new { @class = "form-control", placeholder ="NOME"})    
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(a => a.Descricao, new { @class = "form-control", placeholder = "DESCRIÇÃO"})
                </div>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>

}
